<?php

// PHP code to connect to your Postgresql database.

// You just need to change the 5 parameters at the start of the pg_connect function below.
// Should be obvious...

function bib_connect_to_db()
{
	$host="dbhost";
	$port="5432";
	$user = "dxp";
	$password = "???";
	$dbname = "dxp";
	
	$dbconn = @pg_connect("host=$host port=$port user=$user password=$password dbname=$dbname");
	
	return $dbconn;
}

function bib_disconnect_db($dbconn)
{
	@pg_close($dbconn);
}

?>
